@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: local("Museo Sans Cyrl 300"), local("MuseoSansCyrl"), url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: local("Museo Sans Cyrl 900"), local("MuseoSansCyrl"), url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: local("Museo Sans Cyrl 500"), local("MuseoSansCyrl"), url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("Museo Sans Cyrl 700"), local("MuseoSansCyrl"), url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("Myriad Pro"), local("MyriadPro"), url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ALS Rubl';
  src: url("../fonts/ALSRubl.eot");
  src: local("ALS Rubl"), local("ALSRubl"), url("../fonts/ALSRubl.eot?#iefix") format("embedded-opentype"), url("../fonts/ALSRubl.woff2") format("woff2"), url("../fonts/ALSRubl.woff") format("woff"), url("../fonts/ALSRubl.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

img {
  vertical-align: middle; }

html {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #38343E; }

body {
  width: 100%;
  min-width: 320px; }

div {
  display: block; }

button {
  outline: none;
  border: 0;
  cursor: pointer; }

a {
  cursor: pointer;
  text-decoration: none; }

p {
  line-height: 1.5;
  margin: 0 0 .6em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

input:focus,
button:focus,
textarea:focus {
  outline: none; }

:root {
  --main: #8641BF;
  --red: #DB5151;
  --purple-hover: #db02ba;
  --green: #76D13A;
  --grey: #F7F8FD; }

p {
  font-weight: 500; }

.p_size_14 {
  font-size: 14px; }

.h1 {
  font-size: 38px;
  font-weight: 900; }

.h2 {
  font-size: 24px;
  font-weight: 900; }

.h3 {
  font-size: 21px;
  font-weight: 900;
  text-transform: uppercase; }

.link {
  text-transform: uppercase;
  color: var(--main);
  font-weight: 700; }

.main__header {
  border-bottom: 4px solid #F7F8FD;
  padding-bottom: 30px;
  margin-bottom: 30px; }

@media (max-width: 768px) {
  .h1 {
    font-size: 24px; }

  .h2,
  .h3 {
    font-size: 16px;
    text-transform: uppercase; }

  .link {
    font-size: 14px; } }
.header {
  background-color: var(--main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 50px; }
  .header__logo {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    flex-shrink: 0;
    letter-spacing: 2px; }
    .header__logo:hover, .header__logo:focus {
      color: #fff;
      text-decoration: none;
      opacity: .8; }
    .header__logo:active, .header__logo:visited {
      color: #fff; }
  .header__logo-img {
    margin-right: 12px; }

.app {
  display: flex; }

.main {
  width: 100%;
  max-width: calc(100% - 256px); }

main {
  padding: 40px 42px 54px 32px; }

@media (max-width: 768px) {
  .app {
    flex-direction: column; } }
@media (max-width: 1024px) {
  .main {
    max-width: 100%; } }
.aside {
  flex-shrink: 0;
  width: 100%;
  max-width: 256px;
  background-color: #353845;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

@media (max-width: 1024px) {
  .aside {
    display: none; } }
.arrows {
  display: flex; }
  .arrows__item {
    height: 46px;
    width: 61px;
    background-color: #F7F8FD;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 0;
    transition: .4s background-image; }
    .arrows__item_next {
      background-image: url(../icons/next.svg);
      border-radius: 0 7px 7px 0; }
      .arrows__item_next:hover, .arrows__item_next:focus {
        background-image: url(../icons/hover/next.svg); }
    .arrows__item_prev {
      background-image: url(../icons/prev.svg);
      border-radius: 7px 0 0 7px;
      margin-right: 1px; }
      .arrows__item_prev:hover, .arrows__item_prev:focus {
        background-image: url(../icons/hover/prev.svg); }

.rates__reward-like {
  position: absolute;
  bottom: 100%;
  left: 10px;
  width: 100px;
  background-color: #FFAF47;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  padding: 6px 18px;
  margin-left: 16px;
  box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.2); }
.rates__item {
  height: 48px;
  width: 62px;
  background-color: var(--grey);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 0; }
  .rates__item_like {
    background-image: url(../icons/like.svg);
    border-radius: 7px 0 0 7px;
    position: relative; }
    .rates__item_like:hover, .rates__item_like:focus {
      background-image: url(../icons/hover/like.svg); }
  .rates__item_dislike {
    background-image: url(../icons/dislike.svg);
    border-radius: 0 7px 7px 0;
    margin-right: 1px; }
    .rates__item_dislike:hover, .rates__item_dislike:focus {
      background-image: url(../icons/hover/dislike.svg); }

.form-wrapper {
  max-width: 466px;
  padding: 80px 20px;
  min-height: 710px;
  display: block;
  margin: 0 auto;
  text-align: center; }

.form__header {
  margin-bottom: 65px; }
.form__description {
  margin-bottom: 20px;
  line-height: 20px; }
.form__input {
  width: 100%;
  border: none;
  background-color: #F7F8FD;
  padding: 14px 20px 14px 56px;
  border-radius: 8px; }
  .form__input_password {
    background-image: url(../icons/password.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 18px;
    background-attachment: scroll;
    background-size: 20px;
    border: 1px solid #EBECF2;
    margin-bottom: 16px;
    transition: .3s border-color; }
  .form__input_login {
    padding-left: 18px; }
  .form__input_error {
    border-color: var(--red); }
  .form__input:focus {
    outline: none;
    border-color: var(--main); }
.form__error {
  color: var(--red);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  display: block; }
.form__btn {
  background-color: var(--main);
  width: 100%;
  max-width: 160px;
  display: inline-block;
  border: none;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 0;
  margin-top: 32px;
  transition: .2s background-color;
  font-weight: 700; }
  .form__btn_disabled {
    opacity: .2; }
  .form__btn:hover, .form__btn:focus {
    cursor: pointer;
    background-color: #DD48BB; }

.select {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  padding-left: 12px;
  height: 48px;
  border: 1px solid #EBECF2;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: .3s border-color;
  background-color: #F7F8FD;
  transition: .3s border-color; }
  .select__clear {
    display: none;
    margin-right: 10px; }
    .select__clear svg {
      pointer-events: none;
      vertical-align: middle; }
    .select__clear:hover .cls-1 {
      stroke: var(--purple-hover); }
  .select__img {
    padding-left: 8px; }
    .select__img_item {
      border-radius: 100%;
      width: 32px;
      padding-left: 0;
      margin-right: 12px; }
  .select__list {
    position: absolute;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
    max-height: 324px;
    overflow-y: auto;
    border-radius: 8px;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0; }
  .select__item {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    align-items: center;
    font-size: 14px; }
    .select__item-text {
      width: 100%; }
      .select__item-text .select__item-name {
        color: var(--purple-hover); }
    .select__item-name {
      font-weight: 700; }
    .select__item-desc {
      font-weight: 300;
      font-size: 14px; }
    .select__item-name, .select__item-desc {
      display: block; }
    .select__item-img {
      border-radius: 100%;
      margin-right: 15px;
      width: 32px;
      height: 32px; }
    .select__item:hover {
      background-color: #F7F8FD;
      color: var(--purple-hover); }
    .select__item:hover .select__item-desc {
      color: #38343E; }
    .select__item_active {
      background-color: #F7F8FD; }
    .select__item_error {
      border-color: var(--red); }

@media (max-width: 768px) {
  .select__list {
    max-height: 269px; } }
.cls-1, .cls-2 {
  fill: none; }

.cls-1 {
  stroke: #b99fcf;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  transition: .3s stroke; }

.cls-1:hover {
  stroke: #fff; }

.header__coins {
  display: flex; }

.coins__icon {
  margin-right: 15px; }
.coins__value {
  color: #fff;
  display: block;
  font-weight: 700; }
.coins__up {
  color: #fff;
  opacity: .5;
  font-size: 14px;
  transition: .3s opacity; }
  .coins__up:hover, .coins__up:focus {
    opacity: 1; }

.nav {
  list-style: none;
  margin: 0;
  padding: 0; }
  .nav__item {
    display: block;
    padding: 25px 35px;
    color: #fff;
    opacity: .7;
    transition: .3s opacity; }
    .nav__item:hover, .nav__item:focus {
      background-color: #53576F;
      opacity: 1; }
    .nav__item_profile {
      font-weight: 900;
      opacity: 1; }
    .nav__item_active {
      background-color: #53576F;
      border-left: 6px solid var(--main);
      padding-left: 29px;
      opacity: 1; }
  .nav__profile-photo {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 12px; }

.aside__gift {
  padding: 26px 25px 45px 25px;
  text-align: center;
  background-color: #23242E;
  border-top: 4px solid #4F5366; }

.gift__text {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 20px;
  opacity: .75; }
.gift__btn {
  display: block;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 15px 0;
  background-color: #53576F;
  transition: .3s background-color;
  color: #fff;
  text-align: center; }
  .gift__btn:hover, .gift__btn:focus {
    background-color: #353844; }

.my-profile {
  display: flex;
  align-items: center;
  margin-bottom: 26px; }
  .my-profile__photo {
    margin-right: 15px;
    border-radius: 100%;
    width: 48px;
    height: 48px; }
  .my-profile__login {
    display: block;
    font-weight: 900;
    font-size: 24px;
    border-radius: 100%;
    margin-bottom: 12px; }
  .my-profile__logout {
    text-transform: uppercase;
    color: var(--main);
    font-weight: 700; }

.sex-buttons {
  display: flex; }

.sex-button {
  border: 1px solid #EBECF2;
  border-right-width: 0;
  padding: 14px 38px;
  transition: .3s color;
  font-weight: 700; }
  .sex-button:first-child {
    border-radius: 6px 0 0 6px; }
  .sex-button:last-child {
    border-radius: 0 6px 6px 0;
    border-right-width: 1px; }
  .sex-button:hover, .sex-button:focus {
    color: var(--purple-hover); }
  .sex-button_selected {
    background-color: #37353d;
    border-color: #37353d;
    color: #fff; }
    .sex-button_selected:hover, .sex-button_selected:focus {
      color: #fff; }

.promotion-div {
  border: 4px solid #F7F8FD;
  border-radius: 6px;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 34px; }
  .promotion-div__title {
    margin-bottom: 20px; }
  .promotion-div__text {
    margin-bottom: 20px; }
  .promotion-div__select {
    max-width: 426px;
    margin: 0 auto; }

.up-balance__container {
  display: flex; }

.balance,
.buy-coins {
  border: 4px solid;
  border-radius: 8px;
  width: 100%; }

.balance__inner,
.buy-coins {
  padding: 22px 12px 32px 22px; }

.balance {
  border-color: #F7F8FD;
  margin-right: 32px; }
  .balance__inner {
    font-weight: 300; }
  .balance__discount {
    display: flex;
    background-color: #F7F8FD;
    padding: 36px 12px 28px 22px; }
  .balance__image {
    margin-right: 24px; }
  .balance__text {
    max-width: 200px;
    line-height: 20px;
    letter-spacing: .05em; }
  .balance__title {
    margin-bottom: 32px; }

.buy-coins {
  border-color: transparent;
  background-color: #F7F8FD; }
  .buy-coins__title {
    margin-bottom: 32px; }
  .buy-coins__input-group {
    display: flex; }
  .buy-coins__label {
    width: 50%;
    max-width: 200px;
    font-size: 14px; }
    .buy-coins__label:first-child {
      margin-right: 16px;
      padding-bottom: 38px; }
  .buy-coins__input {
    border: 1px solid #EBECF2;
    border-radius: 8px;
    transition: .3s background-color;
    padding: 14px 8px;
    margin-top: 10px;
    width: 100%;
    font-size: 16px; }
    .buy-coins__input_sum {
      font-weight: 900; }
    .buy-coins__input[disabled] {
      background-color: transparent; }
  .buy-coins__discount {
    color: var(--green);
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    padding-top: 2px;
    display: block;
    padding-bottom: 16px; }
  .buy-coins__btn {
    border-radius: 8px;
    max-width: 200px;
    width: calc(50% - 10px);
    background-color: var(--main);
    transition: .3s background-color;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding: 15px; }
    .buy-coins__btn:not([disabled]):hover, .buy-coins__btn:not([disabled]):focus {
      background-color: var(--purple-hover); }
    .buy-coins__btn[disabled] {
      opacity: .2; }

@media (max-width: 840px) {
  .up-balance__container {
    flex-direction: column; }

  .balance {
    margin-bottom: 12px; } }
.packets-offer {
  display: flex;
  margin-top: 20px;
  padding-bottom: 15px;
  overflow-x: auto; }
  .packets-offer::-webkit-scrollbar {
    display: none; }
  .packets-offer__item {
    border-radius: 8px;
    border: 4px solid #F7F8FD;
    transition: .3s box-shadow;
    width: 100%;
    max-width: 280px;
    margin-right: 30px; }
    .packets-offer__item:last-child {
      margin-right: 0; }
    .packets-offer__item:hover, .packets-offer__item:focus {
      box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.2); }
  .packets-offer__name {
    padding: 22px;
    background-color: #F7F8FD; }
  .packets-offer__content {
    padding: 16px 16px 24px 22px;
    font-size: 14px; }
  .packets-offer__btn {
    width: 100%;
    text-transform: uppercase;
    background-color: #F7F8FD;
    font-weight: 700;
    padding: 15px;
    margin-top: 22px;
    display: block;
    color: var(--main);
    border-radius: 8px;
    text-align: center;
    transition: .3s background-color, .3s color; }
    .packets-offer__btn:focus, .packets-offer__btn:hover {
      color: #fff;
      background-color: var(--purple-hover); }
  .packets-offer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    line-height: 28px;
    font-weight: 300; }
    .packets-offer__list-item {
      background-image: url(../icons/check-mark.svg);
      background-repeat: no-repeat;
      background-position-y: 5px;
      background-position-x: 0;
      background-attachment: scroll;
      background-size: 16px;
      padding-left: 22px; }
      .packets-offer__list-item_warn {
        background-image: url(../icons/warning.svg); }
  .packets-offer__price {
    font-weight: 900; }

@media (max-width: 1024px) {
  .packets-offer__item {
    min-width: 262px; } }
.subscribe {
  border-bottom: 4px solid #F7F8FD;
  padding-bottom: 27px;
  margin-bottom: 18px; }
  .subscribe__nav {
    display: flex;
    align-items: center;
    margin-bottom: 16px; }
  .subscribe__reward {
    background-color: #FEF3D6;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    padding: 6px 18px;
    margin-left: 16px; }
  .subscribe__nav-btns {
    margin-left: auto; }

.accounts {
  overflow-x: hidden;
  margin-right: -42px; }
  .accounts__list {
    display: flex;
    padding-bottom: 15px;
    width: fit-content;
    transition: .7s transform; }
  .accounts__item {
    border: 4px solid #F7F8FD;
    border-radius: 8px;
    position: relative;
    width: 307px;
    flex-shrink: 0;
    font-size: 14px;
    padding: 20px 30px 15px 30px;
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    transition: .3s box-shadow; }
    .accounts__item:last-child {
      margin-right: 42px; }
    .accounts__item:hover, .accounts__item:focus {
      box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.2); }
  .accounts__photo {
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 24px; }
  .accounts__login {
    font-weight: 900;
    margin-bottom: 22px;
    text-align: center; }
  .accounts__close {
    background-image: url(../icons/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    transition: .4s background-image;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 8px;
    right: 8px; }
    .accounts__close:hover, .accounts__close:focus {
      background-image: url(../icons/hover/close.svg); }
  .accounts__desc {
    margin-bottom: 13px; }
  .accounts__btn {
    margin-top: auto;
    text-transform: uppercase;
    background-color: #F7F8FD;
    border-radius: 8px;
    padding: 16px;
    font-weight: 700;
    width: 100%;
    color: var(--main);
    transition: .4s color; }
    .accounts__btn:hover, .accounts__btn:focus {
      color: var(--purple-hover); }

.rate-content__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px; }
.rate-content__wrapper {
  overflow-x: hidden;
  margin-right: -42px; }
.rate-content__accounts {
  display: flex;
  width: fit-content;
  transition: .7s transform; }
.rate-content__video-icon {
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background: #fff url(../icons/video.svg) no-repeat center scroll;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 33px;
  right: 28px;
  z-index: 32; }
.rate-content__item {
  position: relative;
  border: 4px solid #F7F8FD;
  border-radius: 8px;
  width: 530px;
  flex-shrink: 0;
  padding: 22px 21px 18px 21px;
  margin-right: 26px; }
  .rate-content__item:last-child {
    margin-right: 42px; }
.rate-content__actions {
  margin-top: 8px;
  display: flex;
  align-items: center; }
.rate-content__reward {
  background-color: #FEF3D6;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  padding: 6px 18px;
  margin-left: 16px; }
.rate-content__bar {
  margin-left: auto;
  background: url(../icons/bar.svg) no-repeat scroll center;
  width: 24px;
  height: 24px;
  transition: .4s background-image; }
  .rate-content__bar:hover, .rate-content__bar:focus {
    background-image: url(../icons/hover/bar.svg); }
.rate-content__btn-watch {
  margin-top: 6px;
  text-transform: uppercase;
  background-color: #F7F8FD;
  font-weight: 700;
  padding: 15px 40px;
  display: block;
  color: var(--main);
  border-radius: 8px;
  transition: .3s color, .3s color; }
  .rate-content__btn-watch:focus, .rate-content__btn-watch:hover {
    color: var(--purple-hover); }

.invite-promo {
  border-radius: 8px;
  border: 4px solid var(--grey);
  margin-bottom: 32px;
  padding: 30px 30px 32px 32px;
  display: flex;
  align-items: center; }
  .invite-promo__icon {
    background-color: var(--grey);
    border-radius: 100%;
    text-align: center;
    padding-top: 20px;
    width: 120px;
    height: 120px; }
  .invite-promo__content {
    margin-left: 30px; }
  .invite-promo__header {
    margin-bottom: 16px; }
  .invite-promo__more {
    background-color: var(--grey);
    border-radius: 8px;
    text-transform: uppercase;
    display: block;
    width: 158px;
    padding: 15px 0;
    font-weight: 700;
    color: var(--main);
    text-align: center;
    margin-top: 16px; }

/*# sourceMappingURL=style.css.map */
