.account-info {
  display: flex;
  border-bottom: 4px solid var(--grey);

  &__photo {
    border-radius: 100%;
    margin-right: 54px;
    flex-shrink: 0;
  }

  &__username {
    color: var(--main);
    cursor: pointer;
    margin-bottom: 25px;
    display: inline-block;

    &:hover,
    &:focus {
      span {
        color: var(--purple-hover);
      }

      .account-info__arrow {
        background-image: url(../icons/hover/up.svg);
      }
    }
  }

  &__arrow {
    background: url(../icons/up.svg) no-repeat center;

    width: 14px;
    background-color: white;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    transition: .4s transform;
    transform: rotate(180deg);

    &_clicked {
      transform: rotate(0deg);
    }
  }

  &__actions {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
  }

  &__action {
    padding: 15px 0 15px 44px;

    &_add {
      background: url(../icons/add.svg) no-repeat 0 50%;
    }

    &_remove {
      color: var(--red);
      background: url(../icons/remove.svg) no-repeat 0 50%;
    }
  }

  &__desc {
    p {
      margin-bottom: 28px;
    }

    a {
      color: var(--main);

      &:hover,
      &:focus {
        color: var(--purple-hover);
      }
    }

    &-more {
      display: none;
    }
  }

  &__tooltip {
    width: 426px;
  }
}

@media (max-width: 768px) {
  .account-info {
    border-bottom-width: 2px;
    padding-bottom: 28px;

    &__photo {
      width: 72px;
      height: 72px;
      margin-right: 12px;
    }

    &__username {
      font-size: 16px;
      text-transform: initial;
      margin-bottom: 20px;
      position: initial;
    }

    &__desc {
      font-size: 14px;
      height: 21px;
      overflow: hidden;

      &-more {
        display: inline;
        font-size: 14px;
        cursor: pointer;
        opacity: .5;
      }
    }

    &__tooltip {
      width: calc(100% - 44px);
      top: initial;
      margin: 20px 22px;
    }
  }
}