.account-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  margin-right: -30px;

  &__item {
    margin-bottom: 30px;
    flex: 0 0 (100% / 3);
    width: (100% / 3);
    padding-right: 30px;
    max-width: 320px;
    cursor: pointer;

    &>div {
      border: 1px solid #EFEFEF;
      border-radius: 8px;
      transition: .3s box-shadow;

      &:first-of-type {
        position: relative;
      }

      &:hover,
      &:focus {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
      }
    }
  }

  &__photo {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }

  &__social-actions {
    display: flex;
    color: #808080;
    padding: 16px;
    justify-content: space-between;
    font-size: 12px;

    span {
      display: flex;
      align-items: center;
    }
  }

  &__like::before,
  &__comment::before,
  &__warn::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
  }

  &__like::before {
    background: url(../icons/likes.svg) no-repeat center;
    width: 16px;
    height: 16px;
  }

  &__comment::before {
    background: url(../icons/comments.svg) no-repeat center;
    width: 13px;
    height: 13px;
  }

  &__warn::before {
    background: url(../icons/warn.svg) no-repeat center;
    width: 16px;
    height: 16px;
  }

  &__progress {
    font-size: 14px;
    padding: 0 16px 20px 16px;

    &_done {
      &::before {
        content: '';
        background: url(../icons/done.svg) no-repeat center;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: text-top;
        margin-right: 5px;
      }
    }

    &_promo {
      text-transform: uppercase;
      color: var(--main);
      cursor: pointer;
      font-weight: 700;

      &:hover,
      &:focus {
        color: var(--purple-hover);
      }
    }
  }

  &__no-photo {
    margin: 82px auto;
    text-align: center;
    font-size: 21px;
    color: #8B8E99;

    &-text {
      display: block;
      margin-top: 22px;
    }
  }

  &__video-icon {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    background: #fff url(../icons/video.svg) no-repeat center scroll;
    background-size: 18px;
    box-shadow: 0 1px 1px 1px rgba($color: #000, $alpha: .2);
    position: absolute;
    top: 7px;
    right: 7px;
  }
}

@media (max-width: 768px) {
  .account-content {
    margin-right: -10px;

    &__item {
      padding-right: 10px;

      &>div {
        border: none;
        border-radius: 0;

        &:focus,
        &:hover {
          box-shadow: none;
        }
      }
    }

    &__photo {
      border-radius: 8px;
    }

    &__no-photo {
      font-size: 14px;
      margin: 28px auto;

      img {
        width: 58px;
      }
    }

    &__social-actions {
      display: none;
    }

    &__progress {
      font-size: 12px;
      padding: 0;
      padding-top: 6px;

      &_done {
        &::before {
          width: 12px;
          height: 12px;
          background-size: 12px;
          margin-right: 0;
        }
      }
    }
  }
}