.add-subscribe-form {
  display: flex;
  margin-top: 42px;

  &__item {
    width: 100%;
    padding-right: 32px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__label {
    margin-bottom: 14px;

    & > .tooltip__container {
      margin-top: 26px;
      top: 100%;
      padding: 16px;
    }
  }

  &__input {
    background-color: #fff;
    margin-top: 12px;
  }

  &__sex-buttons {
    margin-top: 12px;
    margin-bottom: 52px;
    width: 100%;
  }

  &__cost {
    display: block;
    margin-top: 6px;

    b {
      font-weight: 900;
    }
  }

  &__preview-btn {
    margin-top: 52px;
    text-align: right;

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      color: var(--purple-hover);
      background: var(--grey);
    }
  }
}

@media (max-width: 768px) {
  .add-subscribe-form {
    margin-top: 21px;
    font-size: 14px;
    flex-direction: column;

    &__item {
      width: 100%;
      margin-bottom: 21px;
      padding-right: 0;
    }

    &__input {
      margin-top: 8px;
    }

    &__preview-btn {
      display: none;
    }

    &__cost {
      position: absolute;
      bottom: 110px;
      margin-left: -22px;
      width: 100%;
      text-align: center;
    }
  }
}