.mobile-tooltip {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  z-index: 99;
  background: var(--grey);

  &__header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba($color: #353844, $alpha: .5);
    position: absolute;
    top: 0;
    padding: 0 20px;
  }

  &__back {
    background: url(../icons/back.svg) no-repeat center;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
  }

  &__coins {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 15px;
      background: url(../icons/mobile-coins.svg) no-repeat center;
      margin-right: 8px;
    }
  }

  &__photo {
    object-fit: cover;
    height: 225px;
    width: 100%;
  }

  &__total {
    padding: 21px 22px 0 22px;
  }

  &__heading {
    font-size: 12px;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
    font-size: 12px;
    padding-top: 12px;
    margin-bottom: 26px;
  }

  &__block {
    width: calc(100% / 3);
    
    span {
      display: block;
      font-size: 14px;
      font-weight: 900;
    }

    &_ordered {
      span {
        color: var(--warn);
      }
    }

    &_done {
      span {
        color: var(--green);
      }
    }
  }
}