.tooltip-preview {
  padding: 27px 33px 40px 35px;
  bottom: 45px;
  font-size: 14px;

  &__photo {
    border-radius: 100%;
    padding: 0 36px;
    margin-bottom: 25px;
  }

  &__username {
    font-weight: 900;
    text-align: center;
    margin-bottom: 21px;
  }

  &__close {
    top: 12px;
    right: 12px;
  }
}