.total-tooltip {
  display: none;

  &__wrapper {
    background: #F7F8FD;
    padding: 25px 40px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 99;
    margin-top: 31px;
    border-top: 2px solid #DAE0F5;
    border-bottom: 2px solid #DAE0F5;
    display: flex;
    align-items: flex-start;
  }

  &__close {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../icons/close-tooltip.svg) no-repeat center;
    position: absolute;
    top: 12px;
    right: 42px;
    cursor: pointer;
    transition: .2s background-image;

    &:hover,
    &:focus {
      background-image: url(../icons/hover/close.svg);
    }
  }

  &__arrow {
    display: block;
    width: 50px;
    height: 25px;
    position: absolute;
    z-index: 900;
    overflow: hidden;
    transform: translateX(250%) translateY(8px); 

    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      background: #F7F8FD;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      top: 100%;
      left: 50%;
      border: 2px solid #DAE0F5;
    }
  }
}


.account-total {
  font-size: 14px;
  
  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
  }

  &__item {
    flex-shrink: 0;
    background: #fff;
    border-radius: 8px;
    padding: 30px 22px;
    width: 186px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 900;
  }

  &__heading {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__value {
    &_ordered {
      color: var(--warn);
    }

    &_done {
      color: var(--green);
    }
  }
}

@media (max-width: 768px) {
  .total-tooltip {
    &__wrapper {
      padding: 25px 22px;
    }

    &__close {
      right: 22px;
    }
  }
}