---
layout: page
title: Заработать монеты
scripts: [tooltip, tooltip-bar, like, carousel]
---
<main>
  <h2 class="h1 main__header">Заработать монеты</h2>
  <section class="invite-promo">
    <div class="invite-promo__icon">
      <img src="assets/icons/gift2.svg" alt=" ">
    </div>
    <article class="invite-promo__content">
      <h3 class="h3 invite-promo__header">Пригласи друзей на Instaboom и получи 20 монет</h3>
      <p>Подари друзьям 50 монет, чтобы они попробовали Instaboom.<br>
        И получи 20 монет, когда они пополнят свой счёт.</p>
      <a href="#" title="Подробнее" class="btn invite-promo__more">Подробнее</a>
    </article>
  </section>
  <section class="subscribe">
    <div class="subscribe__nav">
      <h3 class="h3">Подпишись на аккаунт</h3>
      <span class="subscribe__reward">+5 монет</span>
      <div class="arrows subscribe__nav-btns">
        <button class="arrows__item arrows__item_prev" title="Туда"></button>
        <button class="arrows__item arrows__item_next" title="Сюда"></button>
      </div>
    </div>
    <div class="accounts">
      <div class="accounts__list">
        <div class="accounts__item">
          <button class="accounts__close"></button>
          <img class="accounts__photo" src="https://placehold.it/160x160" alt="" width="160" height="160">
          <h4 class="accounts__login">rakamakafit</h4>
          <button class="btn accounts__btn">Подписаться</button>
        </div>
        {% for i in (1..4) %}
        <div class="accounts__item">
          <button class="accounts__close"></button>
          <img class="accounts__photo" src="https://placehold.it/160x160" alt="" width="160" height="160">
          <h4 class="accounts__login">rakamakafit</h4>
          <p class="p_size_14 accounts__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
            numquam
            facilis
            dolorem omnis.</p>
          <button class="btn accounts__btn">Подписаться</button>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="rate-content">
    <div class="rate-content__nav">
      <h3 class="h2">Оцени контент</h3>
      <div class="arrows rate-content__arrows">
        <button class="arrows__item arrows__item_prev" title="Туда"></button>
        <button class="arrows__item arrows__item_next" title="Сюда"></button>
      </div>
    </div>
    <div class="rate-content__wrapper">
      <div class="rate-content__accounts">
        <div class="rate-content__item">
          <div class="rate-content__video-icon"></div><!-- если видео -->
          <span class="rate-content__reward rate-content__reward_mobile">+5 монет за просмотр</span>

          <img src="https://placehold.it/480x480" alt="" width="480" height="480">
          <div class="rate-content__actions">
            <button class="btn rate-content__btn-watch">Смотреть видео</button>
            <span class="rate-content__reward">+5 монет за просмотр</span>
          </div>
        </div>
        {% for i in (1..4) %}
        <div class="rate-content__item">
          <span class="rate-content__reward rate-content__reward_mobile">+5 монет за лайк</span>
          <img src="https://placehold.it/480x480" alt="" width="480" height="480">
          <div class="rate-content__actions">
            <div class="rate-content__rates rates">
              <button class="rates__item rates__item_like" title="Туда"></button>
              <button class="rates__item rates__item_dislike" title="Сюда"></button>
            </div>
            <span class="rate-content__reward">+5 монет за лайк</span>
            <span class="tooltip rate-content__tooltip">
              <button class="rate-content__bar" title="Подписаться/Пожаловаться"></button>
              <div class="tooltip__container tooltip-top rate-content__tooltip-wrapper">
                <i class="tooltip__arrow rate-content__tooltip-arrow"></i>
                <ul class="rate-content__subscribe-actions">
                  <li class="rate-content__subscribe-action">Подписаться</li>
                  <li class="rate-content__subscribe-action">Пожаловаться</li>
                </ul>
              </div>
            </span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>