---
layout: page
title: Раскрутка
scripts: [select, tooltip, tooltip-add-remove, total-tooltip, form-order, tooltip-subscribe, desc-more]
---

<main class="promotion-page">
  <h2 class="h1 main__header">Раскрутка</h2>
  <div class="promotion-form">
    <button class="promotion-form__close"></button>
    {% include promotion-form.html %}
  </div>
  {% include account-info.html %}
  {% include account-score.html done=false %}
  <!-- Контент -->
  <section class="account-content">
    <div class="account-content__item">
      <div>
        <img class="account-content__photo" src="https://placehold.it/290x290" alt="Photo">
        <div class="account-content__social-actions">
          <span class="account-content__like">1000</span>
          <span class="account-content__comment">1000</span>
          <span class="account-content__warn">1000</span>
        </div>
        <div class="account-content__progress account-content__progress_done">
          Завершено
        </div>
      </div>
      {% include total-tooltip.html %}
    </div>
    <div class="account-content__item">
      <div>
        <img class="account-content__photo" src="https://placehold.it/290x290" alt="Photo">
        <div class="account-content__social-actions">
          <span class="account-content__like">1000</span>
          <span class="account-content__comment">1000</span>
          <span class="account-content__warn">1000</span>
        </div>
        <div class="account-content__progress account-content__progress_done">
          Завершено
        </div>
      </div>
    </div>
    <div class="account-content__item">
      <div>
        <i class="account-content__video-icon"></i>
        <img class="account-content__photo" src="https://placehold.it/290x290" alt="Photo">
        <div class="account-content__social-actions">
          <span class="account-content__like">1000</span>
          <span class="account-content__comment">1000</span>
          <span class="account-content__warn">1000</span>
        </div>
        <div class="account-content__progress account-content__progress_promo">
          Раскрутить
        </div>
      </div>
      {% include total-tooltip.html type='video' %}
    </div>
    <div class="account-content__item">
      <div>
        <img class="account-content__photo" src="https://placehold.it/290x290" alt="Photo">
        <div class="account-content__social-actions">
          <span class="account-content__like">1000</span>
          <span class="account-content__comment">1000</span>
          <span class="account-content__warn">1000</span>
        </div>
        <div class="account-content__progress">
          В процессе
        </div>
      </div>
    </div>
  </section>
</main>