---
layout: page
title: Раскрутка
scripts: [select, checkInput, tooltip, tooltip-add-remove, total-tooltip, form-order, tooltip-subscribe, desc-more, location]
---

<main>
  <h2 class="h1 main__header">Раскрутка</h2>
  {% include account-info.html %}
  {% include account-score.html done=true %}
  <section class="account-content">
    <div class="account-content__no-photo">
      <img src="assets/icons/no-photo.svg" alt="">
      <span class="account-content__no-photo-text">В аккаунте пока нет фотографий</span>
    </div>
  </section>
</main>