<form action="" class="add-subscribe-form" method="GET">
  <div class="add-subscribe-form__item">
    <label class="tooltip add-subscribe-form__label">Количество подписчиков
      <input type="number" min="1" class="input add-subscribe-form__input" name="Count" required>
    </label>
    <span class="add-subscribe-form__cost">Стоимость <b>500 монет</b></span>
  </div>
  <div class="add-subscribe-form__item">
    <label class="add-subscribe-form__label">Местоположение
      <!--input type="text" class="input add-subscribe-form__input"-->
      {% include location.html %}
    </label>
    <span class="tooltip add-subscribe-form__tooltip">
      <button class="btn add-subscribe-form__preview-btn" type="button">предосмотр аккаунта</button>
      <div class="tooltip__container tooltip-top tooltip-preview">
        <i class="tooltip__close tooltip-preview__close"></i>
        <i class="tooltip__arrow"></i>
        <img class="tooltip-preview__photo" src="https://placehold.it/160x160" alt="Photo">
        <h4 class="tooltip-preview__username">rakamafit</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>Vel numquam dolore nihil saepe.</p>
      </div>
    </span>
  </div>
  <div class="add-subscribe-form__item">
    <label class="add-subscribe-form__label">Пол
      <div class="sex-buttons add-subscribe-form__sex-buttons">
        <input class="sex-button__checkbox" type="radio" name="sex" id="radio-1" value="Все" checked>
        <label class="sex-button__label" for="radio-1">Все</label>
        <input class="sex-button__checkbox" type="radio" name="sex" id="radio-2" value="Мужской">
        <label class="sex-button__label" for="radio-2">М</label>
        <input class="sex-button__checkbox" type="radio" name="sex" id="radio-3" value="Женский">
        <label class="sex-button__label" for="radio-3">Ж</label>
      </div>
    </label>
    <button class="btn btn_purple add-subscribe-form__btn">Заказать</button>
  </div>
</form>