<aside class="aside">
  <div>
    <nav>
      <ul class="nav">
        <li><a href="profile.html" class="nav__item nav__item_profile {% if page.title == 'Мой профиль' %} nav__item_active {% endif %}" title="Профиль">
            <img src="https://placehold.it/32x32" alt="Фото профиля" class="nav__profile-photo">rakamakafit
          </a></li>
        <li><a class="nav__item {% if page.title == 'Раскрутка' %} nav__item_active {% endif %}" href="promotion.html" title="Раскрутка">Раскрутка</a></li>
        <li><a class="nav__item {% if page.title == 'Заработать монеты' %} nav__item_active {% endif %}" href="earn.html" title="Заработать монеты">Заработать монеты</a></li>
        <li><a class="nav__item {% if page.title == 'Пакетные предложения' %} nav__item_active {% endif %}" href="packets-offer.html" title="Пакетные предложения">Пакетные предложения</a></li>
      </ul>
    </nav>
  </div>
  <div class="aside__gift">
    <img src="assets/icons/aside.svg" alt="">
    <p class="gift__text">Подари друзьям 50 монет,<br>
      чтобы они попробовали<br>
      Instaboom.<br>
      И получи 20 монет, когда они пополнят свой счёт.</p>
    <a href="invite-friends" class="gift__btn">Подробнее</a>
  </div>
</aside>