<form action="" class="form-order">
  <h2 class="h2 form-order__heading">Хочу ещё</h2>
  <div class="form-order__wrapper">
    <input type="checkbox" name="" id="checkbox-1">
    <label for="checkbox-1">Комментарии</label>
    <input type="number" min="1" value="" class="form-order__input">
  </div>
  <div class="form-order__wrapper">
    <input type="checkbox" name="" id="checkbox-2">
    <label for="checkbox-2">Лайки</label>
    <input type="number" min="1" value="" class="form-order__input">
  </div>
  <div class="form-order__score">
    <span>Итого</span>
    <span class="form-order__sum">100 монет</span>
  </div>
  <button class="btn btn_purple form-order__btn" disabled>Заказать</button>
</form>