<!-- tooltip -->
<div class="total-tooltip">
  <i class="total-tooltip__arrow"></i>
  <div class="total-tooltip__wrapper">
    <button class="total-tooltip__close"></button>
    <div class="account-total">
      Всего у фото
      <div class="account-total__container">
        <div class="account-total__item">
          <h4 class="account-total__heading">Лайки</h4>
          1000
        </div>
        <div class="account-total__item">
          <h4 class="account-total__heading">Лайки</h4>
          1000
        </div>
        <div class="account-total__item">
          <h4 class="account-total__heading">Лайки</h4>
          1000
        </div>
      </div>
      Выполнено/заказано
      <div class="account-total__container">
        <div class="account-total__item">
          <h4 class="account-total__heading">Лайки</h4>
          <span class="account-total__value_ordered">15/1000</span>
        </div>
        <div class="account-total__item">
          <h4 class="account-total__heading">Лайки</h4>
          <span class="account-total__value_done">100/100</span>
        </div>
      </div>
    </div>
    {% if include.type == 'video' %}
    {% include form-for-video.html %}
    {% else %}
    {% include form.html %}
    {% endif %}
  </div>
</div>

<!-- Мобильная версия tooltip (здесь модальное окно) -->
<div class="mobile-tooltip">
  <header class="mobile-tooltip__header">
    <i class="mobile-tooltip__back"></i>
    <span class="mobile-tooltip__coins">10 000</span>
  </header>
  <img class="mobile-tooltip__photo" src="https://placehold.it/320x320" alt="Photo" class="tooltip__photo_mobile">
  <div class="mobile-tooltip__total">
    <h4 class="mobile-tooltip__heading">Всего у фото</h4>
    <div class="mobile-tooltip__container">
      <div class="mobile-tooltip__block">
        <span>1600</span>
        лайков
      </div>
      <div class="mobile-tooltip__block">
        <span>1600</span>
        лайков
      </div>
      <div class="mobile-tooltip__block">
        <span>1600</span>
        лайков
      </div>
    </div>

    <h4 class="mobile-tooltip__heading">Выполнено/заказано</h4>
    <div class="mobile-tooltip__container">
      <div class="mobile-tooltip__block mobile-tooltip__block_ordered">
        <span>15/1000</span>
        лайков
      </div>
      <div class="mobile-tooltip__block mobile-tooltip__block_done">
        <span>3/3</span>
        коммент.
      </div>
    </div>
  </div>
  {% if include.type == 'video' %}
  {% include form-for-video.html %}
  {% else %}
  {% include form.html %}
  {% endif %}
</div>