<!-- tooltip -->
<div class="total-tooltip">
<i class="total-tooltip__arrow"></i>
<div class="total-tooltip__wrapper">
    <button class="total-tooltip__close"></button>
    <div class="account-total">
      Всего у фото
      <div class="account-total__container">
        <div class="account-total__item">
          <h4 class="account-total__heading">Лайки</h4>
          1000
        </div>
        <div class="account-total__item">
          <h4 class="account-total__heading">Лайки</h4>
          1000
        </div>
        <div class="account-total__item">
          <h4 class="account-total__heading">Лайки</h4>
          1000
        </div>
      </div>
      Выполнено/заказано
      <div class="account-total__container">
        <div class="account-total__item">
          <h4 class="account-total__heading">Лайки</h4>
          <span class="account-total__value_ordered">15/1000</span>
        </div>
        <div class="account-total__item">
          <h4 class="account-total__heading">Лайки</h4>
          <span class="account-total__value_ordered">10/1000</span>
        </div>
      </div>
    </div>
    {% include form.html %}
  </div>
  </div>