.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  &__item {
    display: block;
    padding: 25px 35px;
    color: #fff;
    opacity: .7;
    transition: .3s opacity;

    &:hover,
    &:focus {
      background-color: #53576F;
      opacity: 1;
    }
    &_profile {
      font-weight: 900;
      opacity: 1;
    }
    &_active {
      background-color: #53576F;
      border-left: 6px solid var(--main);
      padding-left: 29px;
      opacity: 1;
    }
  }
  &__profile-photo {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 12px;
  }
}