.select {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  padding-left: 12px;
  height: 48px;

  border: 1px solid #EBECF2;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: .3s border-color;
  background-color: #F7F8FD;
  transition: .3s border-color;

  &__clear {
    display: none;
    margin-right: 10px;

    svg {
      pointer-events: none;
      vertical-align: middle;
    }

    &:hover .cls-1 {
      stroke: var(--purple-hover);
    }
  }

  &__img {
    padding-left: 8px;

    &_item {
      border-radius: 100%;
      width: 32px;
      padding-left: 0;
      margin-right: 12px;
    }
  }

  &__list {
    position: absolute;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
    max-height: 324px;
    overflow-y: auto;
    border-radius: 8px;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }

  &__item {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    align-items: center;
    font-size: 14px;

    &-text {
      width: 100%;

      .select__item-name {
        color: var(--purple-hover);
      }
    }

    &-name {
      font-weight: 700;
    }

    &-desc {
      font-weight: 300;
      font-size: 14px;
    }

    &-name,
    &-desc {
      display: block;
    }

    &-img {
      border-radius: 100%;
      margin-right: 15px;
      width: 32px;
      height: 32px;
    }

    &:hover {
      background-color: #F7F8FD;
      color: var(--purple-hover);
    }

    &:hover &-desc {
      color: #38343E;
    }

    &_active {
      background-color: #F7F8FD;
    }

    &_error {
      border-color: var(--red);
    }
  }
}


@media (max-width: 768px) {
  .select__list {
    max-height: 269px;
  }
}

// Styles for svg
.cls-1, .cls-2 {
  fill: none;
}

.cls-1 {
  stroke: #b99fcf;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  transition: .3s stroke;
}
.cls-1:hover {
  stroke: #fff;
}