.my-profile {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  
  &__photo {
    margin-right: 15px;
    border-radius: 100%;
    width: 48px;
    height: 48px;
  }
  &__login {
    display: block;
    font-weight: 900;
    font-size: 24px;
    border-radius: 100%;
    margin-bottom: 12px;
  }
  &__logout {
    text-transform: uppercase;
    color: var(--main);
    font-weight: 700;
  }
}