.main__invite-friends {
  padding-left: 82px;
}

.invite-friends {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .invite-friends {
    flex-direction: column;
  }

  .main__invite-friends {
    padding-left: 22px;
  }
}