p {
  font-weight: 500;
}

.p_size_14 {
  font-size: 14px;
}

.h1 {
  font-size: 38px;
  font-weight: 900;
}

.h2 {
  font-size: 24px;
  font-weight: 900;
}

.h3 {
  font-size: 21px;
  font-weight: 900;
}

.link {
  text-transform: uppercase;
  color: var(--main);
  font-weight: 700;
}

.main__header {
  border-bottom: 4px solid #F7F8FD;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 24px;
  }

  .h2,
  .h3 {
    font-size: 16px;
    text-transform: uppercase;
  }

  .link {
    font-size: 14px;
  }
}