.invite-promo {
  border-radius: 8px;
  border: 4px solid var(--grey);
  margin-bottom: 32px;
  padding: 30px 30px 32px 32px;
  display: flex;
  align-items: center;

  &__icon {
    background-color: var(--grey);
    border-radius: 100%;
    text-align: center;
    padding-top: 20px;
    width: 120px;
    height: 120px;
  }

  &__content {
    margin-left: 30px;
  }

  &__header {
    margin-bottom: 16px;
  }

  &__more {
    display: block;
    width: 158px;
    margin-top: 16px;

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background: var(--grey);
      color: var(--purple-hover);
    }
  }
}

@media (max-width: 768px) {
  .invite-promo {
    display: none;
  }
}