.subscribe {
  border-bottom: 4px solid #F7F8FD;
  padding-bottom: 27px;
  margin-bottom: 18px;

  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__reward {
    background-color: #FEF3D6;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    padding: 6px 18px;
    margin-left: 16px;
  }
  
  &__nav-btns {
    margin-left: auto;
  }  
}