.accounts {
  overflow-x: hidden;
  margin-right: -42px;

  &__list {
    display: flex;
    padding-bottom: 15px;
    width: fit-content;
    transition: .7s transform;
  }

  &__item {
    border: 4px solid #F7F8FD;
    border-radius: 8px;
    position: relative;
    width: 307px;
    flex-shrink: 0;
    font-size: 14px;
    padding: 20px 30px 15px 30px;
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    transition: .3s box-shadow;

    &:last-child {
      margin-right: 42px;
    }

    &:hover,
    &:focus {
      box-shadow: 0 5px 15px 2px rgba(0, 0, 0, .2);
    }
  }

  &__photo {
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  &__login {
    font-weight: 900;
    margin-bottom: 22px;
    text-align: center;
  }

  &__close {
    background-image: url(../icons/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    transition: .4s background-image;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 8px;
    right: 8px;

    &:hover,
    &:focus {
      background-image: url(../icons/hover/close.svg);
    }
  }

  &__desc {
    margin-bottom: 13px;
  }

  &__btn {
    margin-top: auto;
    text-transform: uppercase;
    background-color: #F7F8FD;
    border-radius: 8px;
    padding: 16px;
    font-weight: 700;
    width: 100%;
    color: var(--main);
    transition: .4s color;

    &:hover,
    &:focus {
      color: var(--purple-hover);
    }
  }
}

@media (max-width: 1024px) {
  .accounts {
    overflow-x: auto;
  }
}