.aside__gift {
  padding: 26px 25px 45px 25px;
  text-align: center;
  background-color: #23242E;
  border-top: 4px solid #4F5366;
}

.gift {
  &__text {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size : 14px;
    line-height : 20px;
    opacity: .75;
  }

  &__btn {
    display: block;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 15px 0;
    background-color: #53576F;
    transition: .3s background-color;
    color: #fff;
    text-align: center;

    &:hover,
    &:focus {
      background-color: #353844;
    }
  }
}