.aside {
  flex-shrink: 0;
  width: 100%;
  max-width: 256px;
  background-color: #353845;
  color: #fff;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .aside {
    //display: none;
    position: absolute;
    top: 0;
    left: -256px;
    transition: .4s left;
    z-index: 10000;
  }
}