.aside {
  flex-shrink: 0;
  width: 100%;
  max-width: 256px;
  background-color: #353845;
  color: #fff;

  &__wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
  }
}

@media (max-width: 1024px) {
  .aside {
    position: absolute;
    top: 0;
    left: -256px;
    transition: .4s left;
    z-index: 10000;
    height: 100%;
  }
}