.header {
  background-color: var(--main);
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 50px;

  &__logo {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    flex-shrink: 0;
    letter-spacing: 2px;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
      opacity: .8;
    }

    &:active,
    &:visited {
      color: #fff;
    }
  }

  &__logo-img {
    margin-right: 12px;
  }

  &__mobile-menu {
    display: none;
    width: 24px;
    height: 24px;
    background: transparent url(../icons/mobile-bar.svg) no-repeat center;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;

    &__mobile-menu {
      display: block;
    }

    &__logo {
      margin-left: 30px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: 56px;
    padding-left: 24px;
    padding-right: 20px;

    &__logo {
      display: none;
    }
  }
}