.app {
  display: flex;
}

.main {
  width: 100%;
  //max-width: calc(100% - 256px);
}

main {
  padding: 40px 64px 54px 32px;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}