.aside__gift {
  padding: 26px 25px 45px 25px;
  text-align: center;
  background-color: #23242E;
  border-top: 4px solid #4F5366;
  left: 0;
  width: 256px;
  position: absolute;

  img {
    width: 28px;
  }
}

.gift {
  &__text {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 20px;
    opacity: .75;

    &_mobile {
      display: none;
    }
  }

  &__btn {
    display: block;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 15px 0;
    background-color: #53576F;
    transition: .3s background-color;
    color: #fff;
    text-align: center;

    &:hover,
    &:focus {
      background-color: #353844;
    }
  }
}

@media (max-width: 768px) {
  .aside__gift {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .gift {
    &__text {
      display: none;
      margin-top: 24px;
      margin-bottom: 24px;

      &_mobile {
        display: block;
      }
    }
  }
}
