.btn {
  padding: 15px;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 700;
  width: 100%;
  color: var(--main);
  background-color: var(--grey);
  transition: .3s background-color, .3s color;
  text-align: center;

  &_purple {
    color: #fff;
    background: var(--main);
  }

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    color: #fff;
    background-color: var(--purple-hover);
  }

  &[disabled] {
    opacity: .2;
  }
}