.header__coins {
  display: flex;
  margin-left: auto;
}

.coins {
  &__icon {
    margin-right: 15px;
  }

  &__value {
    color: #fff;
    display: block;
    font-weight: 700;
  }

  &__up {
    color: #fff;
    opacity: .5;
    font-size: 14px;
    transition: .3s opacity;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .header__coins {
    align-items: center;
  }

  .coins {
    &__icon {
      width: 18px;
      margin-right: 8px;
    }

    &__value > span,
    &__up {
      display: none;
    }
  }
}