.sex-buttons {
  display: flex;
}

.sex-button {
  &__checkbox {
    display: none;

    &:checked+.sex-button__label {
      background-color: #37353d;
      border-color: #37353d;
      color: #fff;
    }
  }

  &__label {
    border: 1px solid #EBECF2;
    border-right-width: 0;
    padding: 14px 38px;
    transition: .3s color;
    cursor: pointer;

    &:first-of-type {
      border-radius: 6px 0 0 6px;
    }

    &:last-of-type {
      border-radius: 0 6px 6px 0;
      border-right-width: 1px;
    }

    &:hover,
    &:focus {
      color: var(--purple-hover);
    }
  }
}