textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #EBECF1;
  background: var(--grey);
  padding: 10px 14px;
  max-height: 95px;
  resize: none;
  overflow-y: hidden;

  &::-webkit-scrollbar-track {
    border-left: 1px solid #EAEBF0;
  }
}