.share-block {
  width: 100%;

  &__link {
    background-color: var(--grey);
    border-radius: 8px;
    padding-left: 20px;
    display: flex;
    margin-bottom: 32px;
    border: 1px solid #EBECF1;
  }

  &__input {
    border: none;
    background-color: transparent;
    width: 100%;
  }

  &__copy-btn {
    padding: 15px 22px;
    width: initial;
    flex-shrink: 0;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: transparent;
      color: var(--purple-hover);
    }
  }

  &__social {
    display: flex;

    &-item {
      border-radius: 8px;
      width: 88px;
      height: 48px;
      background-attachment: scroll;
      background-position: center;
      background-repeat: no-repeat;
      transition: .3s background-color;

      &_vk {
        background-color: #4B72A4;
        background-image: url(../icons/social/vk.svg);

        &:hover,
        &:focus {
          background-color: #6498DB;
        }
      }

      &_fb {
        background-color: #3856A0;
        background-image: url(../icons/social/fb.svg);

        &:hover,
        &:focus {
          background-color: #486FCF;
        }
      }

      &:first-child {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .share-block {
    &__link {
      margin-top: 21px;
    }
  }
}